name: Upload to Release

on:
  push:
    tags:
      - "**"  # 匹配所有 tag（如 251022）

jobs:
  upload-file:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get tag name
        id: get-tag
        run: |
          echo "TAG_NAME=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Upload to Release
        uses: softprops/action-gh-release@v1
        with:
          files: execwb-settings.txt  # 要上传的文件名
          tag_name: ${{ env.TAG_NAME }}  # 使用当前推送的 tag
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # 自动生成的权限令牌
